@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";
.section.testimonial-container{
  .testimonial {
    ul{
      display: flex;
      justify-content: space-between;
      gap: 30px;
      li{
        width: 33.33%;
        &::marker{
          display: none;
          .testimonial-card::before{
            content: '"';
            font-size: 24px;
            color: grey;
            margin-right: 10px;
            display: block;
            transform: rotate(180deg);
            vertical-align: middle;
          }
        }
      }
    }
  }
}