.columns > div {
    display: flex;
    flex-direction: column;
  }
  
  .columns img {
    width: 100%;
  }
  
  .columns > div > div {
    order: 1;
  }
  
  .columns > div > .columns-img-col {
    order: 0;
  }
  
  .columns > div > .columns-img-col img {
    display: block;
  }
  
  @media (width >= 480px) {
    .columns > div {
      align-items: center;
      flex-direction: unset;
      gap: 24px;
    }
  
    .columns > div > div {
      flex: 1;
      order: unset;
    }
  }
  
  .columns.block.columns-2-cols p.button-container {
    display: inline-block;
    padding-right: 24px;
  }
  
  .columns.block.columns-2-cols h2{
    margin-top: 0;
    margin-bottom: 24px;
  }
  
  .columns.block.columns-2-cols p{
    margin: 0 0 36px 0;
  }