/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
@media (min-width: 1380px) {
  .article-wrapper {
    padding: 120px 52px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .article-wrapper {
    padding: 120px 52px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .article-wrapper {
    padding: 120px 36px;
  }
}
@media (max-width: 480px) {
  .article-wrapper {
    padding: 72px 16px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .article-wrapper {
    padding: 96px 36px;
  }
}
.article-wrapper > .article > div {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.article-wrapper > .article > div > .description {
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0px;
  text-align: left;
  line-height: 24px;
  margin: 0;
  opacity: 1;
}
.article-wrapper > .article > div > .title {
  opacity: 1;
  color: #4a7390;
  font-family: museo, sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
  margin: 0;
  opacity: 1;
}
@media (max-width: 480px) {
  .article-wrapper > .article > div > .title {
    padding-bottom: 16px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .article-wrapper > .article > div > .title {
    padding-bottom: 16px;
  }
}