@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";

.article-wrapper {
  > .article {
    @include for-xlarge {
      padding: 120px 52px;
    }
    @include for-large {
      padding: 120px 52px;
    }
    @include for-laptop {
      padding: 120px 36px;
    }
    @include for-mobile {
      padding: 72px 16px;
    }
    @include for-tablet {
      padding: 96px 36px;
    }
    > div {
      display: flex;
      flex-direction: column;
      padding: 0;
      > .description {
        opacity: 1;
        color: $--gray-700;
        font-family: $--font-roboto;
        font-size: 16px;
        font-weight: 400;
        font-style: Regular;
        letter-spacing: 0px;
        text-align: left;
        line-height: 24px;
        margin: 0;
        padding-bottom: 36px;
        opacity: 1;
        @include for-mobile {
          padding-bottom: 24px;
        }
      }

      > .title {
        opacity: 1;
        color: $--blue-550;
        font-family: $--font-museo;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 24px;
        margin: 0;
        opacity: 1;
        @include for-mobile {
          padding-bottom: 16px;
        }
      }
    }
  }
}
