/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
main .section div {
  margin: 0 auto;
}

.accordion-wrapper {
  padding: 120px 52px;
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .accordion-wrapper {
    padding: 120px 36px;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .accordion-wrapper {
    padding: 96px 36px;
  }
}
@media (max-width: 480px) {
  .accordion-wrapper {
    padding: 72px 16px;
  }
}
.accordion-wrapper .accordion-heading {
  font-family: museo, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: #4a7390;
  margin-top: 0;
  margin-bottom: 72px;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .accordion-wrapper .accordion-heading {
    margin-bottom: 52px;
  }
}
@media (max-width: 480px) {
  .accordion-wrapper .accordion-heading {
    margin-bottom: 52px;
  }
}
.accordion-wrapper .accordion {
  font-family: roboto, sans-serif;
}
.accordion-wrapper .accordion details {
  border-top: 2px solid #dadada;
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .accordion-wrapper .accordion details {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .accordion-wrapper .accordion details {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .accordion-wrapper .accordion details {
    width: 100%;
  }
}
.accordion-wrapper .accordion details p {
  margin: 0;
  text-decoration: underline;
}
.accordion-wrapper .accordion details .accordion-item-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4b4c4d;
  text-decoration: none;
}
.accordion-wrapper .accordion details summary {
  position: relative;
  padding: 24px 63px 24px 24px;
  background-color: unset !important;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  color: #005589;
}
.accordion-wrapper .accordion details summary:focus, .accordion-wrapper .accordion details summary:hover {
  background-color: var(--light-color);
}
.accordion-wrapper .accordion details summary::-webkit-details-marker {
  display: none;
}
.accordion-wrapper .accordion details summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}
.accordion-wrapper .accordion details[open] summary {
  background-color: unset;
}
.accordion-wrapper .accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}
.accordion-wrapper .accordion details[open] .accordion-item-body {
  padding: 24px;
  padding-top: 0;
  background-color: var(--background-color);
}

.eight-column-layout.accordion-container .accordion-wrapper details {
  width: 66.66%;
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .eight-column-layout.accordion-container .accordion-wrapper details {
    width: 83.33%;
  }
}
@media (max-width: 480px) {
  .eight-column-layout.accordion-container .accordion-wrapper details {
    width: 100%;
  }
}

.six-column-layout.accordion-container {
  max-width: 1275px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .six-column-layout.accordion-container {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .six-column-layout.accordion-container {
    flex-direction: column;
  }
}
.six-column-layout.accordion-container .accordion-wrapper {
  width: 50%;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .six-column-layout.accordion-container .accordion-wrapper {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .six-column-layout.accordion-container .accordion-wrapper {
    width: 90%;
  }
}