@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";
.footer-main {
  @include for-mobile {
    padding: 72px 16px 52px 16px;
  }
  @include for-tablet {
    padding: 72px 36px 52px 36px;
  }
  @include for-xlarge {
    padding: 72px 52px 36px 52px;
  }
  @include for-large {
    padding: 72px 52px 36px 52px;
  }
  @include for-laptop {
    padding: 72px 36px 52px 36px;
  }
  > .logo-social-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
        display: flex;
        gap: 11px;
        > img {
            border: 1.5270532369613647px solid rgba(77, 77, 79, 1);
            opacity: 1;
        }
    }
  }
  > .contact-div {
    padding: 36px 0 36px 0;
    border-bottom: 1px solid lightgray;
  }
  > .adobe-div {
    padding: 36px 0 36px 0;
    border-bottom: 1px solid lightgray;
  }
  > .language-div {
    padding: 36px 0 24px 0;
    > div ul {
      padding-bottom: 24px;
    }
    > div #language-assistance {
      padding-bottom: 4px;
      opacity: 1;
      color: $--gray-700;
      font-family: "Roboto-Bold";
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0px;
      line-height: 24px;
    }
    > div h4 {
      margin: 0;
    }
  }
  > .attention-div {
    padding-bottom: 52px;
    > div p {
      opacity: 1;
      color: $--gray-700;
      font-family: "Roboto-Regular";
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0px;
      text-align: left;
      line-height: 24px;
    }
  }
  > .copyright-div {
    padding: 36px 0;
    opacity: 1;
    background-color: $--blue-100;
    > div p {
      padding-bottom: 24px;
      opacity: 1;
      color: $--gray-700;
      font-family: "Roboto-Regular";
      font-size: 12px;
      font-weight: 400;
      font-style: Regular;
      letter-spacing: 0px;
      text-align: left;
      line-height: 20px;
    }
  }
  > div > div > ul {
    list-style: none;
    margin: 0px;
    display: flex;
    gap: 52px;
    padding: 0px;
    @include for-mobile {
      flex-direction: column;
      gap: 24px;
    }
    @include for-tablet {
      flex-direction: column;
      gap: 24px;
    }
  }
  > div > div > ul > li {
    font-size: 16px;
    font-weight: 500;
    color: $--primary-675;
    opacity: 1;
    font-family: "Roboto-Medium";
    letter-spacing: 0px;
  }
}
