@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";
.promo-no-image-container {
  .default-content-wrapper {
    h2 {
      text-align: center;
    }
  }

  .promo-no-image {
    > ul {
      list-style: none;
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding: 16px;
      text-align: center;
      flex-direction: column;     
      @include for-nonmobile{
        flex-direction: row;
      }
      @include for-xlarge{
        padding: 0 52px;
        gap: 30px;
      }
      @include for-large{
        padding: 0 52px;
        gap: 30px;
      }
      @include for-laptop{
        padding: 0 36px;
        gap: 30px;
      }
      @include for-tablet{
        padding: 0 36px;
        flex-wrap: wrap;
        gap: 30px;
      }
      > li {
        background-color: var(--background-color);
        align-items: center;
        @include for-xlarge{
          width: calc((100% - 104px)/4);
        }
        @include for-large{
          width: calc((100% - 104px)/4);
        }
        @include for-laptop{
          width: calc((100% - 72px)/3);
        }
        @include for-tablet{
          flex-basis: calc((100% - 72px) / 2);
        }
        .cards-card-image {
          line-height: 0;

          img {
            width: 100%;
            aspect-ratio: 4 / 3;
            object-fit: cover;
          }
        }

        .cards-card-body {
          margin: 16px;

          p {
            font-weight: 400;
            font-family: var(--body-font-family);
            line-height: 24px;
            font-size: 16px;
            color: $--gray-700;

            strong {
              font-weight: 700;
              font-size: 20px;
              text-decoration: underline;
              color: $--blue-675;
            }
          }
        }
      }
    }
  }
}
