/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.promo-no-image-container .promo-no-image-heading {
  text-align: center;
  color: #4a7390;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 72px;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 96px;
  }
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 120px;
  }
}
@media (min-width: 1200px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 120px;
  }
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 120px;
  }
}
.promo-no-image-container .promo-no-image > ul {
  list-style: none;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image > ul {
    padding: 36px 16px 72px 16px;
  }
}
@media (min-width: 480px) {
  .promo-no-image-container .promo-no-image > ul {
    flex-direction: row;
  }
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image > ul {
    gap: 30px;
    padding: 72px 52px 120px 52px;
  }
}
@media (min-width: 1200px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image > ul {
    padding: 72px 52px 120px 52px;
    gap: 30px;
  }
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image > ul {
    padding: 72px 36px 120px 36px;
    gap: 30px;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .promo-no-image-container .promo-no-image > ul {
    padding: 52px 36px 96px 36px;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.promo-no-image-container .promo-no-image > ul > li {
  background-color: var(--background-color);
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image > ul > li {
    width: calc((100% - 104px) / 4);
  }
}
@media (min-width: 1200px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image > ul > li {
    width: calc((100% - 104px) / 4);
  }
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image > ul > li {
    width: calc((100% - 72px) / 3);
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .promo-no-image-container .promo-no-image > ul > li {
    flex-basis: calc((100% - 72px) / 2);
  }
}
.promo-no-image-container .promo-no-image > ul > li .cards-card-image {
  line-height: 0;
}
.promo-no-image-container .promo-no-image > ul > li .cards-card-image img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.promo-no-image-container .promo-no-image > ul > li .cards-card-body h3 {
  font-weight: 700;
  font-family: var(--body-font-family);
  line-height: 24px;
  font-size: 20px;
  color: #005589;
  text-align: center;
  text-decoration: underline;
}
.promo-no-image-container .promo-no-image > ul > li .cards-card-body p {
  font-weight: 400;
  font-family: var(--body-font-family);
  line-height: 24px;
  font-size: 16px;
  color: #4b4c4d;
}