@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";

.promo-text-wrapper {
  > .promo-text {
    padding: 0 52px;
    > div {
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 0;
          @include for-xlarge {
            padding: 120px 217px;
          }
          @include for-large {
            padding: 120px 217px;
          }
          @include for-laptop {
            padding: 118px 81px 120px 81px;
          }
        > p {
          opacity: 1;
          color: rgba(75, 76, 77, 1);
          font-family: "Roboto-Regular";
          font-size: 16px;
          font-weight: 400;
          font-style: Regular;
          letter-spacing: 0px;
          text-align: center;
          line-height: 24px;
          margin: 0;
          &:first-child {
            opacity: 1;
            color: $--blue-550;
            font-family: "MuseoSlab-700";
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 0px;
            text-align: center;
            padding-bottom: 24px;
            margin: 0;
          }
          &:last-child {
            padding-top: 36px;
            margin: 0;
          }
        }
      }
    }
  }
}
