@import '../../styles/include/mq.scss';
@import '../../styles/include/tokens.scss';
.promo-image-container {
  .promo-image-wrapper {
    @include for-mobile {
      background-image: none !important;
      padding: 0 16px;
    }
    @include for-tablet {
      background-image: none !important;
      padding: 0 36px;
    }
    @include for-xlarge {
      padding: 0 52px;
    }
    @include for-large {
      padding: 0 52px;
    }
    @include for-laptop {
      padding: 0 36px;
    }
  }
  .promo-image-heading {
    text-align: center;
    color: $--white;
    text-align: center;
    font-weight: 700;
    font-style: 700;
    font-size: 32px;
    margin: 0;
    font-family: $--font-museo;
    @include for-mobile {
      color: $--blue-550;
      padding-top: 72px;
      font-size: 28px;
    }
    @include for-tablet {
      color: $--blue-550;
      padding-top: 96px;
      font-size: 28px;
    }
    @include for-xlarge {
      padding-top: 120px;
    }
    @include for-large {
      padding-top: 120px;
    }
    @include for-laptop {
      padding-top: 120px;
    }
  }

  .promo-image {
    max-width: 1275px;
    margin: auto;
    > ul {
      list-style: none;
      display: flex;
      align-items: stretch;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      @include for-mobile {
        padding: 36px 16px 72px 16px;
      }
      @include for-nonmobile {
        // flex-direction: row;
      }
      @include for-xlarge {
        gap: 30px;
        padding: 72px 52px 120px 52px;
      }
      @include for-large {
        padding: 72px 52px 120px 52px;
        gap: 30px;
      }
      @include for-laptop {
        padding: 72px 36px 120px 36px;
        gap: 30px;
      }
      @include for-tablet {
        padding: 52px 36px 96px 36px;
        gap: 30px;
        flex-wrap: wrap;
      }
      > li {
        background-color: var(--background-color);
        align-items: center;
        display: flex;
        flex-direction: column;
        @include for-xlarge {
          width: calc((100% - 104px) / 4);
          //   padding: 24px;
        }
        @include for-large {
          width: calc((100% - 104px) / 4);
          //   padding: 24px;
        }
        @include for-laptop {
          width: calc((100% - 72px) / 3);
          //   padding: 24px;
        }
        @include for-tablet {
          flex-basis: calc((100% - 72px) / 2);
        }
        .cards-card-image {
          line-height: 0;
          width: 100%;
          img {
            width: 100%;
            aspect-ratio: 4 / 3;
            object-fit: cover;
          }
        }
        .cards-card-body {
          h3 {
            font-weight: 700;
            font-family: $--font-roboto;
            line-height: 24px;
            font-size: 20px;
            color: $--blue-675;
            text-align: center;
            text-decoration: underline;
          }
          p {
            font-weight: 400;
            font-family: $--font-roboto;
            line-height: 24px;
            font-size: 16px;
            color: $--gray-700;
            padding: 0 24px;
          }
        }
      }
    }
  }
}
