/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.enrolling-container .enrolling-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 16px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 36px;
  }
}
@media (min-width: 1380px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 36px;
  }
}
.enrolling-container .enrolling-wrapper .enrolling-heading {
  color: #005589;
  font-family: museo, sans-serif;
  padding: 120px 0 52px 0;
  width: 100%;
  opacity: 1;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 38px;
  margin: 0;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding-top: 72px;
    font-size: 28px;
    width: 100%;
    line-height: 34px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding-top: 96px;
    font-size: 28px;
    width: 100%;
    line-height: 34px;
  }
}
@media (min-width: 1380px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding-top: 120px;
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding-top: 120px;
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding-top: 120px;
    width: 66.66%;
    margin: 0 auto;
  }
}
.enrolling-container .enrolling-wrapper .enrolling {
  max-width: 1275px;
  margin: 0;
}
.enrolling-container .enrolling-wrapper .enrolling > ul {
  display: flex;
  margin: 0;
  list-style: none;
}
.enrolling-container .enrolling-wrapper .enrolling > ul > li > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid lightgray;
  padding: 72px;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper .enrolling > ul > li > .cards-card-body > p {
  margin: 0;
}
.enrolling-container .enrolling-wrapper .enrolling > ul > li > .cards-card-body > p > span {
  height: 100%;
  width: 100%;
  text-align: center;
}
.enrolling-container .enrolling-wrapper .enrolling > ul > li > .cards-card-body > p > span > img {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper .enrolling > ul > li > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 24px 0;
  opacity: 1;
  color: rgb(75, 76, 77);
  font-family: "Roboto-Bold";
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
}