/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.enrolling-container .enrolling-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper .enrolling-heading {
  color: #4a7390;
  font-family: museo, sans-serif;
  padding: 120px 0 52px 0;
  width: 100%;
  opacity: 1;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 38px;
  margin: 0;
}
.enrolling-container .enrolling-wrapper > .enrolling {
  max-width: 1275px;
  margin: 0;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column {
  padding-bottom: 120px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body > p {
  margin: 0;
  color: #4b4c4d;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body > p > .icon-mobile {
  height: 64px;
  width: 64px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body > p > .icon-mobile > img {
  height: 100%;
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body > p > .icon-search-icon-enrolling {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body > p > .icon-promoimage {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body > p > .icon-cell-enrolling {
  height: 24px;
  width: 22px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body > p:last-child {
  padding-top: 12px;
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body > .button-container a {
  padding: 12px 22px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-1-column > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 12px 0;
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column {
  padding-bottom: 120px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body > p {
  margin: 0;
  color: #4b4c4d;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body > p > .icon-mobile {
  height: 64px;
  width: 64px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body > p > .icon-mobile > img {
  height: 100%;
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body > p > .icon-search-icon-enrolling {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body > p > .icon-promoimage {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body > p > .icon-cell-enrolling {
  height: 24px;
  width: 22px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body > p:last-child {
  padding-top: 12px;
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body > .button-container a {
  padding: 12px 22px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 12px 0;
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-2-column > .secondblock {
  padding-left: 72px;
  padding-right: 72px;
  border-left: 2px solid lightgray;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column {
  padding-bottom: 120px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body > p {
  margin: 0;
  color: #4b4c4d;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body > p > .icon-mobile {
  height: 64px;
  width: 64px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body > p > .icon-mobile > img {
  height: 100%;
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body > p > .icon-search-icon-enrolling {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body > p > .icon-promoimage {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body > p > .icon-cell-enrolling {
  height: 24px;
  width: 22px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body > p:last-child {
  padding-top: 12px;
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body > .button-container a {
  padding: 12px 22px;
}
.enrolling-container .enrolling-wrapper > .enrolling > ul > .enrolling-3-column > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 12px 0;
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
}