@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";
.enrolling-container {
  .enrolling-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include for-mobile {
      // background-image: linear-gradient(180deg, rgba(75, 76, 77, 1) 0%, rgba(93, 93, 93, 0.65) 29%, rgba(115, 115, 115, 0.2) 100%) !important;
      padding: 0 16px;
    }
    @include for-tablet {
      // background-image: linear-gradient(180deg, rgba(75, 76, 77, 1) 0%, rgba(93, 93, 93, 0.65) 29%, rgba(115, 115, 115, 0.2) 100%) !important;
      padding: 0 36px;
    }
    @include for-xlarge {
      padding: 0 52px;
    }
    @include for-large {
      padding: 0 52px;
    }
    @include for-laptop {
      padding: 0 36px;
    }
    .enrolling-heading {
      color: $--blue-675;
      font-family: $--font-museo;
      padding: 120px 0 52px 0;
      width: 100%;
      opacity: 1;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      line-height: 38px;
      margin: 0;
      @include for-mobile {
        padding-top: 72px;
        font-size: 28px;
        width: 100%;
        line-height: 34px;
      }
      @include for-tablet {
        padding-top: 96px;
        font-size: 28px;
        width: 100%;
        line-height: 34px;
      }
      @include for-xlarge {
        padding-top: 120px;
        width: 50%;
        margin: 0 auto;
      }
      @include for-large {
        padding-top: 120px;
        width: 50%;
        margin: 0 auto;
      }
      @include for-laptop {
        padding-top: 120px;
        width: 66.66%;
        margin: 0 auto;
      }
    }

    .enrolling {
      max-width: 1275px;
      margin: 0;
      > ul {
        display: flex;
        margin: 0;
        list-style: none;
        > li {
          > .cards-card-body {
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 2px solid lightgray;
            padding: 72px;
            flex-direction: column;
            > p {
              margin: 0;
              > span {
                height: 100%;
                width: 100%;
                text-align: center;
                > img {
                  height: 64px;
                  width: 64px;
                }
              }
            }
            > h3 {
              margin: 0;
              padding: 24px 0px 24px 0;
              opacity: 1;
              color: rgba(75, 76, 77, 1);
              font-family: "Roboto-Bold";
              font-size: 24px;
              font-weight: 700;
              font-style: Bold;
              letter-spacing: 0px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
