/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
header .nav-wrapper {
  width: 100%;
  z-index: 2;
  position: fixed;
}
header .nav-wrapper nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0 24px;
  margin: auto;
}
header .nav-wrapper nav .sec1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f9ff;
  padding: 12px 30px 12px 45px;
}
header .nav-wrapper nav .sec1 .nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}
header .nav-wrapper nav .sec1 .nav-right .search .search-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 260px;
}
header .nav-wrapper nav .sec1 .nav-right .search .search-box input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 12.75px 45px 12.25px 15px;
  border-radius: 4px;
  border: 1px solid #d6e5f1;
  background-color: #ffffff;
  color: #6E6E6E;
  font-size: 12px;
  font-family: roboto, sans-serif;
  font-style: italic;
  font-weight: 400;
  transition: border-color 0.2s;
}
header .nav-wrapper nav .sec1 .nav-right .search .search-box input:hover {
  border: 1px solid #d6e5f1;
}
header .nav-wrapper nav .sec1 .nav-right .search .search-box input:focus {
  border: 1px solid #d6e5f1;
}
header .nav-wrapper nav .sec1 .nav-right .search .search-box .icon-search {
  position: absolute;
  right: 15px;
  top: 15px;
}
header .nav-wrapper nav .sec1 .nav-right .search .search-box .icon-search img {
  height: 15px;
  width: 15px;
}
header .nav-wrapper nav .sec1 .nav-right a.button.primary {
  background-color: #005589;
  color: #ffffff;
  padding: 9px 30px;
  text-decoration: none;
  font-size: 13.5px;
}