/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.textblocks-container .textblocks-wrapper {
  padding: 52px;
}
.textblocks-container .textblocks-wrapper .title {
  opacity: 1;
  color: #4a7390;
  font-family: museo, sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: 700;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
@media (max-width: 480px) {
  .textblocks-container .textblocks-wrapper .title {
    padding-bottom: 52px;
    font-size: 28px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .textblocks-container .textblocks-wrapper .title {
    padding-bottom: 52px;
    font-size: 28px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .textblocks-container .textblocks-wrapper .title {
    padding-bottom: 72px;
  }
}
@media (min-width: 1380px) {
  .textblocks-container .textblocks-wrapper .title {
    padding-bottom: 72px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .textblocks-container .textblocks-wrapper .title {
    padding-bottom: 72px;
  }
}
.textblocks-container .textblocks-wrapper .textblocks > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  column-gap: 30px;
  row-gap: 52px;
}
.textblocks-container .textblocks-wrapper .textblocks > ul > li {
  width: calc(25% - 22.5px);
}