/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
/* buttons */
.button-container {
  display: flex;
}

a.button,
button {
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 2px;
  font-family: roboto, sans-serif;
  color: #005589;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 12px 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  font-style: normal;
  letter-spacing: -0.18px;
  line-height: 28px;
}
a.button.primary,
button.primary {
  background-color: #005589;
  color: #ffffff;
  padding: 12px 36px;
  text-decoration: none;
}
a.button.primary:hover,
button.primary:hover {
  background-color: #0f3659;
  color: #ffffff;
}
a.button.primary:focus,
button.primary:focus {
  background-color: #0f3659;
  color: #ffffff;
  outline: 3px solid #e45f0c;
  outline-style: dashed;
  outline-offset: 2px;
}
a.button.secondary,
button.secondary {
  background-color: #ffffff;
  border: 2px solid #005589;
  color: #005589;
  padding: 10px 34px;
  text-decoration: none;
}
a.button.secondary:hover,
button.secondary:hover {
  background-color: #f3f9ff;
  border: 2px solid #005589;
  color: #005589;
}
a.button.secondary:focus,
button.secondary:focus {
  background-color: #f3f9ff;
  border: 2px solid #005589;
  color: #005589;
  outline: 3px solid #e45f0c;
  outline-style: dashed;
  outline-offset: 2px;
}