@import 'mq';
@import 'tokens';

.section {
  .text-container {
    .text-wrapper {
      padding: $--spacing-huge $--spacing-m;
      @include for-tablet {
        padding: $--spacing-jumbo $--spacing-xl;
      }
      @include for-laptop {
        padding: $--spacing-max $--spacing-xl;
      }
      @include for-large {
        padding: $--spacing-max $--spacing-xxl;
      }
      @include for-xlarge {
        padding: $--spacing-max 0;
      }
    }
  }
  .default-content-wrapper {
    padding: $--spacing-huge $--spacing-m;
    @include for-tablet {
      padding: 0 $--spacing-xl $--spacing-jumbo $--spacing-xl;
    }
    @include for-laptop {
      padding: 0 $--spacing-xl $--spacing-max $--spacing-xl;
    }
    @include for-large {
      padding: 0 $--spacing-xxl $--spacing-max $--spacing-xxl;
    }
    @include for-xlarge {
      padding: 0 0 $--spacing-max 0;
    }
    h1,
    h2{
      color: $--blue-550;
    }
    h1,
    h2,
    h3,
    h4 {
      margin: 0;
      padding-bottom: $--spacing-m;
      @include for-nonmobile {
        padding-bottom: $--spacing-l;
      }
    }
    p {
      margin: 0;
      padding-bottom: $--spacing-l;
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      color: $--gray-700;
      font-family: $--font-roboto;
      font-weight: 400;
      opacity: 1;
      letter-spacing: 0px;
      &.button-container {
        display: inline-flex;
        padding-bottom: 0;
        padding-right: 26px;
        width: max-content;
        margin-bottom: $--spacing-m;
        @include for-mobile {
          width: 100%;
          display: inline-block;
          padding: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a{
          font-size: 16px;
          opacity: 1;
          font-weight: 500;
          letter-spacing: 0px;
          text-align: left;
          line-height: 19px;
          padding-bottom: 15px;
          display: flex;
          &.button{
            font-size: 18px;
            &.primary{
              padding-bottom: $--spacing-s;
            }
            &.secondary{
              padding-bottom: 10px;
            }
          }
        }
      }
      span {
        &.icon{
          &.icon-green-tick {
            padding-right: 14px;
            min-width: 24px;
          }
          &.icon-right-arrow {
            padding-left: 6px;
            max-width: 15px;
            max-height: 15px;
            margin-top: 4px;
          }
          &.icon-linkpdf{
            padding-left: 6px;
            max-width: 19px;
            max-height: 20px;
          }
        }
      }
    }
    p:has(.icon){
      display: flex;
    }
    ul {
      padding-left: $--spacing-l;
      padding-bottom: $--spacing-l;
      margin: 0;
      li{
        color: $--gray-700;
        font-family: $--font-roboto;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        opacity: 1;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: $--spacing-s;
        padding-left: 14px;
        &:last-child{
          padding-bottom: 0;
        }
      }
    }
  }
  &.body-small{
    .default-content-wrapper{
      padding-top: 0;
      padding-bottom: 0;
      p{
        opacity: 1;
        color: $--gray-700;
        font-family: $--font-roboto;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0px;
        text-align: left;
        line-height: 24px;
        &.button-container{
          @include for-mobile {
            width: 100%;
            display: unset;
          }
          a{
            opacity: 1;
            display: flex;
            color: $--primary-675;
            font-family: $--font-roboto;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0px;
            text-align: left;
            text-decoration: underline;
            line-height: 24px;
          }
        }
      }
    }
  }
  .display-wrapper{
    .display{
      &.block{
        padding: 0 $--spacing-m $--spacing-m $--spacing-m;
        @include for-tablet {
          padding: 0 $--spacing-xl $--spacing-l $--spacing-xl;
        }
        @include for-tablet-smallest {
          padding: 0 $--spacing-xl $--spacing-m $--spacing-xl;
        }
        @include for-laptop {
          padding: 0 $--spacing-xl $--spacing-l $--spacing-xl;
        }
        @include for-large {
          padding: 0 $--spacing-xxl $--spacing-l $--spacing-xxl;
        }
        p{
          margin: 0;
        }
      }
    }
  }
}