/* wellmark color start */
$--primary-675: #005589;
$--blue-550: #4A7390;
$--blue-100: #D6E5F1;
$--blue-50: #F3F9FF;
$--gray-700: #4B4C4D;
$--gray-500: #757575;
$--gray-225: #C2C2C3;
$--gray-100: #F2F2F3;
$--white: #FFFFFF;
$--red-550: #B44242;
$--green-550: #4E735D;
$--yellow-550: #FFC345;
$--primary-775: #0F3659;
$--red-675: #862F2F;
$--orange-450: #E45F0C;
$--red-50: #FBEAE9;
$--green-50: #F0F6EF;
$--yellow-50: #FFFAEE;
$--blue-675: #005589;
/* wellmark color end */

 /* wellmark spacing size start */
 $--spacing-xxs: 4px;
 $--spacing-xs: 8px;
 $--spacing-s: 12px;
 $--spacing-m: 16px;
 $--spacing-l: 24px;
 $--spacing-xl: 36px;
 $--spacing-xxl: 52px;
 $--spacing-huge: 72px;
 $--spacing-jumbo: 96px;
 $--spacing-max: 120px;
 /* wellmark spacing size start */